@page "/users"
@inject HttpClient Http

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>List of all users.</p>

@if (users == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var u in users)
        {
            <tr>
                <td>@u.FullName</td>
                <td>@u.Email</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private UserData[]? users;

    protected override async Task OnInitializedAsync()
    {

    }

    public class UserData
    {
        public string FullName { get; set; }

        public string Email { get; set; }
    }
}